.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  h2 {
    margin: 0;
    color: #5151e5;
  }
  
  p {
    color: #333;
  }
  
  .settings-button,
  .user-list-button {
    width: 100%;
    padding: 10px;
    background-color: #5151e5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .settings-button:hover,
  .user-list-button:hover {
    background-color: #3a3aa3;
  }
  